<h1>Detailed Post Information</h1>
<h2><%= @detailedPost.title %></h2>
Posted by: <b><%= @detailedPost.user.name %></b> @ <%= @detailedPost.created_at %><br>
<b>E-mail: </b> <%= @detailedPost.user.email %><br>
<b>Content: </b> <%= @detailedPost.content %><br>
